
.pageBackground {
  display: -webkit-flex;
  display: flex;
  min-height:100vh;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;

}
.leftSidebar {
  display: -webkit-flex;
  display: flex;
  width: 15%; 
  flex-direction: column;
  min-height:100vh;
  justify-content: flex-start;
}
.leftSidebar__searchBox {
  background-color: red;
  height: 12%;
  order: 1;
}
.leftSidebar__navigation {
  background-color: black;
  height: 88%;
  order: 2;
}
.mainPage {
    background-color: white;
    width: 70%;
    text-align: center;
}
.mainPage__header{
  margin:20px;
  font-family: Verdana, Geneva, sans-serif;
  text-align: left;
 }
.mainPage__header--text{
  font-size: 20px;
 }
.mainPage__movie{
  margin:10px;
  text-align: left;
  display: inline-block;
 }
.mainPage__movie--image{
  text-align: left;
  height:150px;
  width: 100px;
  margin:10px;
 }
 .mainPage__movie--title{
  font-size:9px;
  font-weight: 900;
  text-align: left;
  margin-left:10px;
 }
  .mainPage__movie--genre{
  font-size:9px;
  font-weight: bold;
  text-align: left;
  margin-left:10px;
 }
 .mainPage__movie--runTime{
  font-size:9px;
  font-weight: bold;
  text-align: left;
  margin-left:10px;
 }
.rightSidebar {
  width: 15%; 
  flex-direction: column;
  min-height:100vh;
  justify-content: flex-start;
  padding-right: 100px;
}

.rightSidebar__userInfo {
  background-color: aqua;
  height: 12%;
}
.rightSidebar__userContacts {
  background-color: whitesmoke;
  height: 76%;
}
.rightSidebar__contactSearch {
  background-color: lightsteelblue;
  height: 12%;
}


